@page
@model IndexModel
@{    
    ViewData["Title"] = "Valorización Inmuebles";
}

<div class="text-center">
    <h1 class="display-4">Simulador de hipoteca de inmueble</h1>
    <p> Reto Data Drive</p>
    <hr />
</div>

<!DOCTYPE html>
<html>
    <head>
        <title>Customer Form</title>
    </head>
    <body>
        <section class="form-register">
            <form method="post" >
                <fieldset>
                  <legend>Ingresa los datos: </legend>
                  <div>
                    <label for="var1">var1:</label>
                    <input class="controls" type="text" name="var1" value="" />
                  </div>
                  <div>
                    <label for="var2">var2:</label>
                    <input class="controls" type="text" name="var2" value="" />
                  </div>
                  <div>
                    <label for="var3">var3:</label>
                    <input class="controls" type="text" name="var3" value="" />
                  </div>
                  <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                  </div>
                </fieldset>
            </form>
        </section>
    </body>
</html> 
