@page
@model IndexModel
@{    
    ViewData["Title"] = "Dev Home page";
}
<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">DEV .NET app to Azure App Service.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
