@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <p class="lead">Ejo wo! E gbadura fun mi </p>
    <p class="lead">PRAY FOR ME!!!!</p> 
</div>
