@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hermann Ismael Ossombi mbossa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core is funny ( peace of cake ) </a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
