@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page2";
}

<div class="jumbotron">
    <h1>Let's Learn Azure</h1>
    <p class="lead">Here's the home page I totally did all by myself.</p>
</div>