@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <H2>you are here </h2>
    <H2> Its My Page.. here</h2>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <H2> Kings of Davan</h2>

    <H2> Queens of Davan</h2>
<h1>DAVAN 💜 :) 💕😁   ✔</h1>


</div>

<div class="jumbotron">
    <h1>Say Hello!!</h1>
   

</div>

</div>
