@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>💜 Azure</h1>
    <p class="lead">Version 1 testing: .NET app within Azure App Service.</p>
</div>
