@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<meta charset="uft-8"
<body>
    <h1>클라우드 컴퓨팅 출석수업 과제물</h1>
         <h2> 학번: 202234-363658 </h2>
         <h2> 이름: 정해창 </h2>
         <h2> 학과: 컴퓨터과학과 </h2>
         <h2> 소속지역대학: 서울지역대학(성수) </h2>
         <h2> 주소: 서울특별시 동대문구 </h2>
         <h2> 출석수업일: 2022년 9월 13일</h2>