@page
@model Index2Model
@{    
    ViewData["Title"] = "My New Page";
}

<div class="jumbotron">
    <h1>Log Analytics Workspace</h1>
    <p class="lead">The heart of Azure Monitor is the Log Analytics worskpace (LAW). 
    The monitoring data from this rudimentary webapp will be sent there.</p>
</div>