@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<H1>BCA -1st year</h1>
<H1>Decode hackers 💜 </h1></h1>


<p>Use this page to detail your site's privacy policy.</p>
